.search-panel{
    border: 1px solid #dee2e6;
    border-radius: 3px;
    height: 76px;
    padding: 18px 10px 0 10px;
}

.search-button-container{
    display: flex;
}

.search-button {
    margin-right: 20px;
}

.cancel-icon {
    cursor:pointer;
    margin-left: 20px;
}

.pagination-section {
    display: flex;
    justify-content: flex-end;
}

.pagination-legend {
    padding: 7px 10px;
    color: #0d6efd;
    font-weight: 600;
}

.page-link {
    cursor: pointer;
}

.link {
    cursor: pointer;
    color: #0d6efd;    
}

.link:hover {
    text-decoration: underline;
}

.loading-section {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid-field {
    font-size: 12px;
    color: red;
}